* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: var(--bg-1000);
  font-family: "Open Sans", sans-serif;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--secondaryHi);
    border-radius: 0.2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-200);
}

p {
  color: #c4c4c4c2;
}
